@model Recrute.Models.InternshipOffer

@{
    ViewBag.Title = "Détails de l'Offre de Stage";
}

<h2>Détails de l'Offre de Stage</h2>

<fieldset>
    <legend>Offre de Stage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poste)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poste)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.place)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nbreInterns)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nbreInterns)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateStart)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateStart)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateEnd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateEnd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.techKnow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.techKnow)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.praticKnow)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.praticKnow)
    </div>

      <div class="display-label">
         @Html.DisplayNameFor(model => model.dateOffre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOffre)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.offreRef }) |
    @Html.ActionLink("Back to List", "Index")
</p>
