@model IEnumerable<Recrute.Models.InternshipOffer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.poste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbreInterns)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.techKnow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.praticKnow)
        </th>
         <th>
            @Html.DisplayNameFor(model => model.dateOffre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.poste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbreInterns)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.techKnow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.praticKnow)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOffre)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.offreRef }) |
            @Html.ActionLink("Details", "Details", new { id=item.offreRef }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.offreRef })
        </td>
    </tr>
}

</table>
