@model Recrute.Models.JobOffer

@{
    ViewBag.Title = "Ajouter Offre d'Embauche";
}

<h2>Ajouter Offre d'Embauche</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Offre d'Embauche</legend>
        <table border="1">
            <tr>
                <th>
                   @Html.LabelFor(model => model.poste)
                </th>
                <td>
                    @Html.EditorFor(model => model.poste)
                    @Html.ValidationMessageFor(model => model.poste)
                 </td>
            </tr>
            <tr>
                 <th>
                    @Html.LabelFor(model => model.place)
                </th>
                <td>
                    @Html.EditorFor(model => model.place)
                    @Html.ValidationMessageFor(model => model.place)
                </td>
            </tr>
            <tr>
                 <th>
                    @Html.LabelFor(model => model.activity)
                </th>
                <td>
                    @Html.EditorFor(model => model.activity)
                    @Html.ValidationMessageFor(model => model.activity)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.level)
                </th>
                <td>
                    @Html.EditorFor(model => model.level)
                    @Html.ValidationMessageFor(model => model.level)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.experience)
                </th>
                <td>
                    @Html.EditorFor(model => model.experience)
                    @Html.ValidationMessageFor(model => model.experience)
               
                </td>
            </tr>
            <tr>
                <th>
                    @Html.LabelFor(model => model.profile)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.profile, new { cols = 35, @rows = 3 })
                    @Html.ValidationMessageFor(model => model.profile)
                </td>
            </tr>
             <tr>
                <th>
                    @Html.LabelFor(model => model.missions)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.missions, new { cols = 35, @rows = 3 })
                    @Html.ValidationMessageFor(model => model.missions)
                </td>
            </tr>
            <tr>
                <th>
                     @Html.LabelFor(model => model.atouts)
                </th>
                <td>
                    @Html.TextAreaFor(model => model.atouts, new { cols = 35, @rows = 3 })
                    @Html.ValidationMessageFor(model => model.atouts)
                </td>
            </tr>

    </table>

        <p>
            <input type="submit" value="Enregistrer" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
