@model Recrute.Controllers.JobOffer

@{
    ViewBag.Title = "Details de l'Offre d'Embauche";
}

<h2>Détails de l'Offre d'Embauche</h2>

<fieldset>
    <legend>Offre d'Embauche</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poste)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poste)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.place)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.activity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.activity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.dateOffre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOffre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.level)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.level)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.experience)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.experience)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.profile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.profile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.missions)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.missions)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.atouts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.atouts)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adminID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adminID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.offreRef }) |
    @Html.ActionLink("Back to List", "Index")
</p>
