@model Recrute.Controllers.JobOffer

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>JobOffer</legend>

        @Html.HiddenFor(model => model.offreRef)

        <div class="editor-label">
            @Html.LabelFor(model => model.poste)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.poste)
            @Html.ValidationMessageFor(model => model.poste)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.place)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.place)
            @Html.ValidationMessageFor(model => model.place)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.activity)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.activity)
            @Html.ValidationMessageFor(model => model.activity)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dateOffre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dateOffre)
            @Html.ValidationMessageFor(model => model.dateOffre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.level)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.level)
            @Html.ValidationMessageFor(model => model.level)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.experience)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.experience)
            @Html.ValidationMessageFor(model => model.experience)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.profile)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.profile)
            @Html.ValidationMessageFor(model => model.profile)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.missions)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.missions)
            @Html.ValidationMessageFor(model => model.missions)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.atouts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.atouts)
            @Html.ValidationMessageFor(model => model.atouts)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
