@model Recrute.Models.User

@{
    ViewBag.Title = "S'inscrire";
}

<h2>Create</h2>

<h3>Créer un nouveau compte</h3>

<section class="login">
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

 
    
        <ul>
             <li>
                @Html.LabelFor(m => m.userFirstName)
                @Html.TextBoxFor(m => m.userFirstName)
            </li>
            <li>
                @Html.LabelFor(m => m.userName)
                @Html.TextBoxFor(m => m.userName)
            </li>
            <li>
                @Html.LabelFor(m => m.email)
                @Html.TextBoxFor(m => m.email)
            </li>
            <li>
                @Html.LabelFor(m => m.password)
                @Html.TextBoxFor(m => m.password)
            </li>
            <li>
                @Html.LabelFor(m => m.DateOfBirth)
                
               @(Html.Kendo().DatePickerFor(m => m.DateOfBirth)
                    .Name("DateOfBirth")
                    .HtmlAttributes(new { style = "width:300px" })
                    .Min(new DateTime(1900, 1, 1)) //Set min date of the datepicker
                    .Max(DateTime.Today) //Set min date of the datepicker
                    .Value(DateTime.Today) //Set the value of the datepicker
                    //.Events(e => e.Change("datepicker_change"))
                )
               
            </li>
            <li>
                @Html.LabelFor(m => m.placeOfBirth)
                @Html.TextBoxFor(m => m.placeOfBirth)
            </li>
            <li>
                @Html.LabelFor(m => m.nationality)
                @Html.TextBoxFor(m => m.nationality)
            </li>
            <li>
                @Html.LabelFor(m => m.famSituation)
                @(Html.Kendo().AutoComplete()
                     .Name("familysituation")
                     .Filter("startswith")
                     .Placeholder("Choisir une situation familiale...")
                     .BindTo(new string[] {
                            "Célibataire",
                            "Marié(e)",
                            "Divorcé(e)",
                            "Veuf(ve)",
                     })
                     .HtmlAttributes(new { style = "width:300px" })
                )

            </li>
            <li>
                @Html.LabelFor(m => m.phoneNum)
                @Html.TextBoxFor(m => m.phoneNum)
            </li>
            <li>
                @Html.LabelFor(m => m.gsmNum)
                @Html.TextBoxFor(m => m.gsmNum)
            </li>
            <li>
                @Html.LabelFor(m => m.adress)
                @Html.TextBoxFor(m => m.adress)
            </li>
            <li>
                @Html.LabelFor(m => m.city)
                @Html.TextBoxFor(m => m.city)
            </li>
            <li>
                @Html.LabelFor(m => m.country)
                @Html.TextBoxFor(m => m.country)
            </li>
            <li>
                @Html.LabelFor(m => m.codePoste)
                @Html.TextBoxFor(m => m.codePoste)
            </li>
        </ul>
        <input type="submit" value="S'inscrire" class="k-button" />
}

    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}