@model Recrute.Models.User

@{
    ViewBag.Title = "Supprimer un Utilisateur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Voulez Vous supprimer cet Utilisateur?</h3>
<fieldset>
    <legend>User</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userFirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userFirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nationality)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nationality)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.placeOfBirth)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.placeOfBirth)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.famSituation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.famSituation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.phoneNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phoneNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gsmNum)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gsmNum)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adress)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adress)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.city)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.city)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.country)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.country)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codePoste)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codePoste)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfInscri)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfInscri)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.typeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typeID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
