@model IEnumerable<Recrute.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nationality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.placeOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.famSituation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gsmNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.village)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.codePoste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfInscri)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nationality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.placeOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.famSituation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gsmNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.village)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codePoste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfInscri)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
